* {
  font-family: Helvetica, sans-serif;
}

// look into flexbox

.hidden {
  display: none;
}

header {
  height: 2rem;
  border-bottom: 2px solid grey;
  margin-bottom: 1rem;
  nav {
    max-width: 65%;
    margin: 0 auto;
    div {
      float: right;
      margin: 0.4rem 0;
    }
    h1 {
      margin: 0.5rem 0;
    }
    form,
    h1 {
      display: inline-block;
    }
  }
}

.sidebar-nav {
  position:absolute;
  top: 3rem;
  bottom: 0;
  width: 10rem;
  h2 {
    display: inline-block;
  }
  ul {
    margin-bottom: 1rem;
  }
}

.tile-section {
  float: right;
}

.bookmark-tile {
  display: inline-block;
  a {
    img {
      height: 10rem;
    }
  }
}

#body {
  max-width: 65%;
  margin: 0 auto;
}
